service:
  log_file: ./service.log

workflow:
  max_plan_executed_num: 2
  max_report_generated_num: 1
  recursion_limit: 30

planner:
  max_step_num: 2

info_collector:
  max_search_results: 5
  max_crawl_length: 3000

report:
  output_path: "" # Results storage directory path, defaults to empty string: no report generated.